[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
[submodule "stockfish"]
	path = stockfish
	url = https://github.com/official-stockfish/Stockfish
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp
